# Usage: `pip install -r requirements.txt``

# Modeling

allennlp==1.1.0
allennlp_models==1.1.0

# Data munging

pandas==0.25.2
beautifulsoup4==4.8.1
lxml
python-Levenshtein

# Hyperparameter search

optuna>=2.1.0

